<%= twitter_bootstrap_form_for @session, html: {class: "well form-horizontal"} do |f| %>
  <%= f.text_field :title, class: "span8" %>
  <%= f.actions do %>
    <button type="submit" class="btn btn-success">
      <i class="icon-ok-sign icon-white"></i>
      Submit
    </button>
  <% end -%>
<% end -%>
