<section id="sessions">
  <div class="page-header">
    <h1>Suggested sessions</h1>
  </div>

  <div class="buttons">
    <a class="btn btn-primary btn-large" href="<%= new_session_path %>">
      <i class="icon-plus-sign icon-white"></i>
      Suggest a session
    </a>
  </div>

  <div>
    <%= render @conference.sessions %>
  </div>
</section>
