body#devcon {
  padding-top: 40px;

  .topbar-inner {
    background-image: url('bt.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 49px;
  }

  section {
    padding-top: 60px;
  }
}
